.idea/
node_modules/
.vscode/
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/HidePost/
wordpress/wp-content/plugins/HidePost/*
!wordpress/wp-content/plugins/HidePost/src/
!wordpress/wp-content/plugins/HidePost/composer.json
!wordpress/wp-content/plugins/HidePost/HidePost.php