.idea/
node_modules/
.vscode/
build/
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/HidePost/
wordpress/wp-content/plugins/HidePost/*
!wordpress/wp-content/plugins/HidePost/readme.txt
!wordpress/wp-content/plugins/HidePost/HidePost.php